{% extends "galeria/base.html" %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        {% include "partials/_header.html" %}
        <main class="principal">
            {% include "partials/_menu.html" %}
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'cadastro' %}" method="POST" class="user_form">
                    {% csrf_token %}
                    <div class="row">
                        {% include "partials/_alertas.html" %}
                        {% for field in form.visible_fields %}
                            <label for="{{ field.id_for_label }}"
                                   style="color:#D9D9D9;
                                          margin-bottom: 5px">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                        {% endfor %}
                        <button class="btn btn-success" style="padding: top 5px" type="submit">
                            Criar sua
                            conta
                        </button>
                    </div>
                </form>
            </section>
        </main>
    </div>
{% endblock %}
