{% extends "galeria/base.html" %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        {% include "partials/_header.html" %}
        <main class="principal">
            {% include "partials/_menu.html" %}
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'login' %}"
                      method="POST"
                      autocomplete="off"
                      class="user_form">
                    {% csrf_token %}
                    <div class="row">
                        {% include "partials/_alertas.html" %}
                        {% for field in form.visible_fields %}
                            <label for="{{ field.id_for_label }}"
                                   style="color:#D9D9D9;
                                          margin-bottom: 5px">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        <div class="btn-container">
                            <button class="btn btn-success" style="padding: top 5px" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
    </div>
{% endblock %}
